* {
    font-family: Arial, Helvetica, sans-serif;
}



body {
background: url(imagenes/fondo.png) ;
background-size: 100%;
background-repeat: no-repeat;
background-size: cover;
}

.header {
text-align: center;
margin-left: 115px;
padding-top: 0px;
width: 80%;
}


.caja_1 {
background-color: rgba(255, 255, 255, 0.493);
border-style: solid;

}

.p1 {
    text-align: left;
    padding-left: 115px;
    color: black;
    size: 30px;
}

.dino_rex {
    
    margin-left: 115px;
    width: 300px;
    border-radius: 150px;
    float: left;
    margin-bottom: 50px;

}

.caja_rex {
    text-align:left;
    float: left;
    width: 600px;
    padding-left: 30px;
    margin-bottom: 100px;

}


.chancho {
    width: 300px;
    border-radius: 150px;
    float: left;
    margin-left: 115px;
    margin-bottom: 50px;
}

.caja_ham {
    text-align: left;
    float: left;
    width: 600px;
    padding-left: 30px;
    margin-bottom: 100px;
}


.woody {
    width: 300px;
    border-radius: 150px;
    float: left;
    margin-left: 115px;
    margin-bottom: 50px; 
 }

.caja_woody {
    text-align:left;
    float: left;
    width: 600px;
    padding-left: 30px;
    margin-bottom: 30px;
}


.footer {
    text-align: center;
    width: 80%;
    margin-left: 115px;
    padding-bottom: 0px;
    

}